@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Pre configurações start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    background-color: #fff;
    font-family: "Nunito", sans-serif;
}
section {
    min-height: 100vh;
    padding: 2rem 8%;
}
.content {
    margin-top: 5rem;
}
.heading {
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 500px) {
    .heading {
        font-size: 3rem;
    }
}
/* Pre configurações end */

/* Navbar start */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 5%;
    height: 6.5rem;
    background-color: #191919;
}
header .logo {
    font-family: "Raleway", sans-serif;
    font-size: 1.9rem;
    font-weight: 600;
    color: #e1e1e1;
}
header .logo span {
    color: #2491fd;
}
header .navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;  
}
header .navbar li {
    margin-left: 2.5rem;
}
header .navbar ul li a {
    font-size: 1.57rem;
    color: #e1e1e1;
    font-weight: 600;
    letter-spacing: 0.04rem;
    font-family: "Raleway", sans-serif;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
    
    border-bottom: 0.2rem solid #2491fd;
    padding: 0.5rem 0;
}
.navbar-dark {
    background-color: #fff;
    box-shadow: 0 1px 2px #e1e1e1;
}
.menu-link.scrolled {
    color: #000;
    font-weight: 600;
}
/* Navbar end */

/* Menu hamburguer start */
.fa-bars {
    font-size: 2rem;
    cursor: pointer;
    color: #e1e1e1;
    display: none !important;
}
.menu-dark {
    color: #000;
}
@media (max-width: 768px) {
    #menu {
        display: block !important;
    }
    header .navbar {
        position: fixed;
        top: 6.5rem;
        right: -120%;
        width: 75%;
        height: 100%;
        text-align: left;
        align-items: flex-start;
        background-color: #f1f1f1;
    }
    header .navbar ul {
        flex-flow: column;
        padding: 1rem;
    }
    header .navbar ul li {
        text-align: center;
        width: 100%;
        margin: 1rem 0;
        border-radius: 0.5rem;
        width: 26rem;
    } 
    header .navbar ul li a {
        display: block;
        padding: 1rem;
        text-align: left;
        color: #000000;
        font-size: 2rem;
    }
    header .navbar ul li a.active,
    header .navbar ul li a:hover {
      padding: 1rem;
      color: #000;
      border-radius: 0.5rem;
      border-bottom: 0.5rem solid #2897e3;
    }
    .fa-times {
        transform: rotate(180deg);
    }
    header .navbar.nav-toggle {
        right: 0;
    }
}
/* Menu hamburguer end */

/* Home section start */
.home {
    background-color: #191919;
}
.home .content {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home .content .title {
    text-align: center;
}
.home .content .title h3 {
    color: #e1e1e1;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
.home .content .title h2 {
    font-family: "Poppins", sans-serif;
    font-size: 12rem;
    font-weight: 600;
    color: #e1e1e1;
     
}
.home .content .title h2 span {
    color: #191919;
    text-shadow: #e1e1e1 1px -1px, #e1e1e1 -1px 1px, #e1e1e1 1px 1px, #e1e1e1 -1px -1px
}
.home .content  p {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
}
.home .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
.home .buttons .btn1, 
.home .buttons .btn2 {
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "Fira Sans", sans-serif;
    text-transform: uppercase;
    padding: .8rem 2rem;
    border-radius: 5px;
    color: #000;
    background-color: #fff;
}
.home .buttons .btn2 {
    background-color: transparent;
    border: 1.5px solid #fff;
    color: #fff;
}
.home .buttons .btn1 {
    border: 1.5px solid #fff;
}
.home .fa-arrow-down {
    position: absolute;
    display: none;
    bottom: 3rem;
    font-size: 2.5rem;
    color: #e1e1e1;
    animation: down 1.5s ease infinite;
}
@keyframes down {
    50% {
        transform: translateY(1rem);
    }
    100% {
        transform: translateY(0);
    }
}
/* Home media queries start */
@media screen and (max-width: 1160px) {
    .home .content .title h2 {
        font-size: 10rem;
    }
    .home .content .typing-container h3,
    .home .content .typing-container p {
        font-size: 2rem;
    }
}
@media screen and (max-width: 920px) {
    .home .content .title h2 {
        font-size: 8rem;
    }
    .home .btn {
        padding: 1.3rem 2rem
    }
    .home .btn span {
        font-size: 1.5rem;
    }
    .home .btn i {
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 790px) {
    .home .content .title h2 {
        font-size: 6rem;
    }
    .home .content .title h3 {
        font-size: 2rem;
    }
    .home .content .title p {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 590px) {
    .home .content .title h2 {
        font-size: 4rem;
    }
    .home .content .title h3 {
        font-size: 1.5rem;
    }
    .home .content .title p {
        font-size: 2rem;
    }
    .home .buttons {
        margin-top: 3rem;
    }
    .home .buttons .btn1, 
    .home .buttons .btn2 {
        font-size: 1rem;
    }
    
}
/* Home media queries ends */
/* Home section end */

/* About section start */
.about {
    background-color: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .content {
    display: flex;
    justify-content: space-between;
}
.about .content .image {
    margin-right: 4rem;
    display: flex;
    align-items: center;
}
.about .content .image img {
    width: 350px;
    height: 100%;
    cursor: pointer;
}
.about .content .info h3 {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #666666;
}
.about .content .info h2 {
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
    font-weight: 700;
    line-height: 4.5rem;
}
.about .content .info .text {
    font-size: 1.5rem;
    padding-top: 2.5rem;
}
.about .infos {
    font-size: 1.5rem;
    padding-top: 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.about .infos span {
    color: #2491fd
}
.about .info .btn {
   display: inline-block;
   font-weight: 500;
   margin-top: 2rem;
   padding: 1rem 2rem;
   background-color: #000000;
}
.about .info .btn a {
    font-size: 1.5rem;
    font-family: "Fira Sans", sans-serif;
    text-transform: uppercase;
    color: #fff;
}
/* About media queries start */ 
@media screen and (max-width: 1010px)  {
    .about .content .image img {
        width: 300px;
        height: 100%;
        object-fit: cover;  
    }
}
@media screen and (max-width: 920px) {
    .about .content {
        flex-direction: column;
    }
    .about .content .image {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .about .content .image img {
        content: url('/assets/image/perfil-mobile.jpeg');
        border-radius: 100%;
        width: 200px;
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    .home .fa-arrow-down {
        display: block;
    }
}
@media screen and (max-width: 480px) {
    .about .content .info h2 {
        font-size: 4rem;
    }
    .about .content .info .text,
    .about .contact {
        font-size: 1.3rem;
    }
}
/* About media queries ends */ 
/* About section end */

/* Skills section start */
.skills .content .heading i {
    font-size: 3.5rem;
    margin-right: 1rem;
}
.skills .skills-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 2rem;
}
.skills .skills-container .skill {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding-top: 1rem;
    background-color: #e1e1e1;
}
/* Skills media queries start */
@media screen and (max-width: 950px) {
    .skills .skills-container {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media screen and (max-width: 680px) {
    .skills .skills-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 480px) {
    .skills .skills-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .skills .content .heading i {
        font-size: 2.8rem;
    }
}
/* Skills media queries ends */
/* Skills style ends */

/* Projects style start */
.projects {
    background-color: #e1e1e1;
}
.projects .content .heading i {
    font-size: 3.5rem;
    margin-right: 1rem;
}
.projects .content .projects-container {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    padding-top: 2rem;
}
.projects .content .project1, .project2, .project3, .project4 {
    width: 80rem;
    height: 40rem;
}
.projects .content .project1 {
    margin-top: 0;
}
.projects .content .project2 {
    margin-top: 4rem;
}
.projects .content .project3 {
    margin-top: 8rem;
}
.projects .content .project4 {
    margin-top: 12rem;
}
.projects .content .project-img {
    height: 80%;
    
    background-color: #000;
}
.projects .content .project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projects .content .project-info {
    padding-top: 1rem;
}
.projects .content .project-info p {
    font-size: 2rem;
}
.projects .content .project-info a {
    font-size: 1.5rem;
    text-decoration: underline;
}
.projects .button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects .button a {
    background-color: #000;
    color: #fff;
    font-family: "Fira Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1rem 2rem;
}
/* Projects media queries start */
@media screen and (max-width: 1100px) {
    .projects .content .project4 {
        display: none;
    }
}
@media screen and (max-width: 850px) {
    .projects .content .project3 {
        display: none;
    }
    .projects .content .project2 {
        margin-top: 0;
    }
}
@media screen and (max-width: 620px) {
    .projects .content .projects-container {
        display: flex;
        flex-direction: column;
    }
    .projects .content .project1, .project2, .project3, .project4 {
        width: 100%;
    }
    .projects .content .project3,
    .projects .content .project4 {
        display: block;
        margin-top: 0;
    }
}
@media screen and (max-width: 480px) {
    .projects .content .heading i {
        font-size: 2.8rem;
    }
}
/* Projects media queries ends */
/* Projects style ends */

/* Contact style start */
.contact {
    min-height: 90vh;
}
.contact .content .heading i {
    font-size: 3.5rem;
    margin-right: 1rem;
}
.contact .content .contact-container {
    display: flex;
    padding-top: 2rem;
}
.contact .content .form  {
    flex: 1;
    display: flex;
    justify-content: start;
}
.contact .content .form form {
    width: 90%;
    display: flex;
    flex-direction: column;
} 
.contact .content .form input {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height: 4rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
}
.contact .content .form textarea {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-top: 2rem;
    padding-top: 1rem;
    resize: none;
    padding-left: 1rem;
}
.contact .content .form .button {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
}
.contact .content .form .button a {
    background-color: #000;
    color: #fff;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
}
.contact .content .maps {
    flex: 1;
}
.contact .content .maps h3 {
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 4px;
}
/* Contact media queries start */
@media screen and (max-width: 810px) {
    .contact .content .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    .contact .content .form form {
        width: 100%;
        margin-bottom: 3rem;
    }
}
@media screen and (max-width: 480px) {
    .contact .content .heading i {
        font-size: 2.8rem;
    }
}
/* Contact media queries ends */
/* Contact style ends */

/* Footer section starts */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 5rem;
    padding: 0 2rem;
    background: rgb(0, 1, 43);
}
.footer .credit {
    
    font-size: 1.5rem;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    color: #fff;
}
.footer .credit a {
    color: #ffae00;
}
.footer .fa {
    color: #e90606;
    margin: 0 0.3rem;
    font-size: 1.5rem;
    animation: pound 0.35s infinite alternate;
}
@-webkit-keyframes pound {
    to {
      transform: scale(1.1);
    }
}
@keyframes pound {
    to {
      transform: scale(1.1);
    }
}
.footer .footer-links {
    display: flex;
    gap: 1.5rem;
}
.footer .footer-links i {
    color: #fff;
    font-size: 2rem;
}
.footer .footer-links i:hover {
    color: #ffae00;
}
/* Footer media queries start */
@media (max-width: 600px) {
    .footer .box-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer .box-container .footer-links {
        margin-top: 1rem;
    }
    .footer .box-container .footer-links a {
        font-size: 2.5rem;
    }
}
/* Footer media queries ends */
/* Footer section ends */

/* scroll top starts */
#scroll-top {
    position: fixed;
    top: -120%;
    right: 2rem;
    padding: 1rem 1rem;
    font-size: 2rem;
    background: rgb(0, 1, 43);;
    color: #fff;
    border-radius: 50%;
    transition: 1s linear;
    z-index: 1000;
  }
  #scroll-top.active {
    top: calc(100% - 10rem);
  }
  /* scroll top ends */